.App 
{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
 

}
.login,.register,.login_page,.register_page
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px; */
  background-color: white ;
  padding: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
label
{
  text-align: left;
  padding:0.25rem 0;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}
input
{
  margin:0.5rem 0;
  padding: 1rem;
 
  border-radius: 10px;

}
button
{
  border:none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  background-color: blue;
  color: white;
  font-size: 20px;
 
}
.button
{
  background: none;
  text-decoration: underline;
  color: black;
  

}
.register_button
{
  background: none;
  
  color: white;
  background-color:lightcoral;

}
.login_heading,.register_heading
{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

